nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #08192D;
    
    .logo{
        .sol{
            color: #FF005A;
        }
        .musiclogo{
            color: white;
        }
    }

    .menu{
        color: white;
        list-style: none;
        display: flex;
        gap: 20px;
        font-size: 16px;

        li{
            width: 80px;
            cursor: pointer;
            text-align: center;
            padding: 5px 0;
            border-bottom: 1px solid transparent;
            transition: 0.5s;

        }
        li:hover{
            border-bottom: 1px solid #FF005A;
        }
    }
    .login-section{
        color: white;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-right: 20px;
        font-size: 16px;
        cursor: pointer;

        .cr{
            color: #FF005A;
        }
    }
}