<nav class="p-3 pt-4">
    <div class="logo fs-3">
        <span class="sol">SOL</span><span class="musiclogo">MUSIC</span>
    </div>
    <ul class="menu d-none d-lg-flex">
        <li routerLink="/">Home</li>
        <li>About</li>
        <li>Pages</li>
        <li>News</li>
    </ul>
    <div class="login-section d-none d-md-flex">
        <span class="text-muted">Help</span>
        <span>|</span>
        <span>Login</span>
        <span class="cr">Create an account</span>
    </div>
    <button mat-icon-button class="text-white d-block d-lg-none" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Home</button>
        <button mat-menu-item>About</button>
        <button mat-menu-item>Pages</button>
        <button mat-menu-item>News</button>
        <button class="d-block d-md-none" mat-menu-item>Login / Sign in</button>
    </mat-menu>
</nav>