<header class="container-fluid">
    <div class="row">
        <div id="title" class="col-12 col-lg-6 d-flex justify-content-center flex-column gap-3 text-center text-lg-start mb-4 mb-lg-0">
            <div class="ctitle">
                <span class="title-music">Music </span><span>for</span><br>
                <span>everyone</span> <br>
            </div>
            <div class="decs text-white ">
                <small class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</small>
            </div>
            <div class="button-section d-flex gap-3 mt-3 align-items-center justify-content-center justify-content-lg-start">
                <button class="btn text-white download-btn">DOWNLOAD NOW</button>
                <button class="btn text-white trial-btn">START FREE TRIAL</button>
            </div>
        </div>
        <img id="title-img" class="img-fluid col-12 col-lg-6"
            src="https://preview.colorlib.com/theme/solmusic/img/xhero-bg.png.pagespeed.ic.GoIKFhhe_u.webp" alt="">
    </div>
</header>